@import '../../sass/variables';

.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: $box-shadow;
    margin: 5px 0;
    cursor: pointer;
    // padding: 5px 0 5px 5px;

    div {
      &:nth-of-type(1) {
        // background: blue;
        margin: 5px;
        width: 60%;
      }
      &:nth-of-type(2) {
        // background: green;
        text-align: end;
        // justify-text: end;
        width: 38%;
        margin: 5px;
      }

      &:nth-of-type(3) {
        // background: blue;
        width: 2%;
        height: 30px;
      }
    }
  }

  .delete {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    // margin: 20px;
    margin: 5px 0 5px 5px;
    // padding: 0;
    background: $minus;
  }
}
