@import '../../sass/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // border: 1px solid blue;
  font-family: 'Lato', sans-serif;
  // padding: 20px;
  // background: black;
}

.AppWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 0px;
  height: 100vh;
  // border: 1px solid black;
  border-radius: 10px;
  box-shadow: $box-shadow;
  margin: 0 auto;

  h3 {
    text-align: center;
    margin: 10px 0 20px;
    // background: blue;
  }

  h4 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    display: inline-block;
    // font-weight: 0.8rem;
  }

  .balance {
    padding: 20px 0;

    h2 {
      font-size: 2rem;
    }

    .incomeExpense {
      margin-top: 20px;
      // padding-top: 20px 0;
      box-shadow: $box-shadow;
      display: flex;
      justify-items: center;
      align-items: center;

      div {
        text-align: center;
        padding: 20px;
        width: 50%;
      }

      .income {
        border-right: 1px solid grey;
        padding: 0px;
        margin-left: 10px;

        p {
          color: $plus;
          // background: blue;
        }
      }

      .expense {
        margin-right: 10px;

        p {
          color: $minus;
        }
      }

      h4 {
        border: none;
      }
    }
  }

  .history {
    h4 {
      margin-bottom: 10px;
    }
    .list {
      padding: 20px;
      height: 30vh;
      overflow-y: scroll;
      box-shadow: $box-shadow;
      border-radius: 20px;
    }
  }

  .addTransaction {
    margin: 20px 0;

    h4 {
      margin-bottom: 10px;
    }

    input {
      margin: 5px 0;
      width: 100%;
      height: 30px;
    }

    button {
      width: 100%;
      height: 30px;
      margin: 10px 0;
      background: $button;
      color: white;
    }
  }

  .navBar {
    // display: flex;
    // background: black;
    // height: 5vh;
    // padding: 10px;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      li {
        text-align: center;
        padding: 5px;
        background: black;
        color: white;
        width: 50%;
      }
    }
  }
}
