@import '../../sass/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid blue;
  font-family: 'Lato', sans-serif;
  // padding: 20px;
  // background: black;
}

.AppWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 0px;
  // height: 100vh;
  // border: 1px solid black;
  border-radius: 10px;
  // box-shadow: $box-shadow;
  margin: 0 auto;

  h3 {
    text-align: center;
    margin: 10px 0 20px;
    // background: blue;
  }

  h4 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    display: inline-block;
    // font-weight: 0.8rem;
  }

  .balance {
    padding: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
      font-size: 2rem;
    }

    .navBar {
      // display: flex;
      // background: black;
      // height: 5vh;
      // padding: 10px;
      // background: blue;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;

        li {
          border-radius: 20px;
          text-align: center;
          padding: 5px 10px;
          background: black;
          color: white;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }

  .incomeExpense {
    margin-top: 10px;
    // padding-top: 20px 0;
    box-shadow: $box-shadow;
    display: flex;
    justify-items: center;
    align-items: center;

    div {
      text-align: center;
      padding: 20px;
      width: 50%;
    }

    .income {
      border-right: 1px solid grey;
      padding: 0px;
      margin-left: 10px;

      p {
        color: $plus;
        // background: blue;
      }
    }

    .expense {
      margin-right: 10px;

      p {
        color: $minus;
      }
    }

    h4 {
      border: none;
    }
  }

  .history {
    margin-top: 20px;

    h4 {
      margin-bottom: 10px;
    }

    .list {
      padding: 15px;
      border: 5px solid whitesmoke;
      height: 30vh;
      overflow-y: scroll;
      box-shadow: $box-shadow;
      border-radius: 20px;
    }
  }

  .addTransaction {
    margin: 20px 0 0;

    h4 {
      margin-bottom: 10px;
    }

    input {
      margin: 5px 0;
      width: 100%;
      height: 30px;
      border-radius: 20px;
      padding: 0 20px;
    }

    input[type='submit'] {
      width: 100%;
      height: 30px;
      margin: 10px 0;
      background: $button;
      color: white;
      cursor: pointer;
    }
  }

  // --------------------------------------------------------------------------

  // LANDSCAPE FORMATS
  @media (orientation: landscape) {
    @media (max-width: $iphone6-width-landscape) {
      width: 100vw;
      height: auto;

      .analyticsSection {
        // margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        // margin: 20px;
        // background: blue;
        height: 80vh;
        align-items: center;
        box-shadow: $box-shadow;

        .column1 {
          // padding: 0px;
          // background: brown;

          .balance {
            flex-direction: column-reverse;
            // background: pink;
            width: 20vw;

            div {
              margin-bottom: 5px;
            }

            .navBar {
              margin-bottom: 30px;
            }
          }

          .incomeExpense {
            flex-direction: column;
            // background: yellow;
            box-shadow: none;
            width: 20vw;

            div {
              display: flex;
              flex-direction: column;
              width: 100%;
            }

            .income {
              border-right: none;
              margin-left: 0px;
              // margin-bottom: 10px;
            }

            .expense {
              margin-right: 0px;
            }

            h4 {
              border: none;
            }
          }
        }
      }

      .history {
        // height: 98%;
        width: 65vw;
        margin: 20px;
        .list {
          height: 75%;
        }
      }

      .addTransaction {
        // width: 80vw;
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          display: inline-block;
          text-align: left;
        }

        form {
          width: 100%;
          display: flex;
          // justify-content: center;
          align-items: center;
          // background: blue;
          // padding: 5px;

          input {
            margin: 0 5px;

            &:first-of-type {
              width: 50%;
            }

            &:nth-of-type(2) {
              width: 30%;
            }

            &:last-of-type {
              width: 20%;
              padding: 0;
            }
          }

          // background: blue;
        }
      }
    }

    @media (max-width: $iphoneX-width-landscape) {
      width: 100vw;
      height: auto;

      .analyticsSection {
        // margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        // margin: 20px;
        // background: blue;
        height: 80vh;
        align-items: center;
        box-shadow: $box-shadow;

        .column1 {
          // padding: 0px;
          // background: brown;

          .balance {
            flex-direction: column-reverse;
            // background: pink;
            width: 20vw;

            div {
              margin-bottom: 5px;
            }

            .navBar {
              margin-bottom: 30px;
            }
          }

          .incomeExpense {
            flex-direction: column;
            // background: yellow;
            box-shadow: none;
            width: 20vw;

            div {
              display: flex;
              flex-direction: column;
              width: 100%;
            }

            .income {
              border-right: none;
              margin-left: 0px;
              // margin-bottom: 10px;
            }

            .expense {
              margin-right: 0px;
            }

            h4 {
              border: none;
            }
          }
        }
      }

      .history {
        // height: 98%;
        width: 65vw;
        margin: 20px;
        .list {
          height: 75%;
        }
      }

      .addTransaction {
        // width: 80vw;
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          display: inline-block;
          text-align: left;
        }

        form {
          width: 100%;
          display: flex;
          // justify-content: center;
          align-items: center;
          // background: blue;
          // padding: 5px;

          input {
            margin: 0 5px;

            &:first-of-type {
              width: 50%;
            }

            &:nth-of-type(2) {
              width: 30%;
            }

            &:last-of-type {
              width: 20%;
              padding: 0;
            }
          }

          // background: blue;
        }
      }
    }

    @media (min-width: 813px) and (max-width: $ipad-width-landscape) {
    }

    @media (min-width: 1025px) and (max-width: $ipad-pro-width-landscape) {
    }

    @media (min-width: $desktop-min-width) {
    }
  }

  // PORTRAIT FORMATS
  @media (orientation: portrait) {
    // Ipad
    @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
    }

    // Ipad Pro
    @media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
    }

    // Desktop
    @media (min-width: $desktop-min-width) {
    }
  }
}
