@import './sass/variables';

* {
  box-sizing: border-box;
}

$plus: #2ecc71;
$minus: #c0392b;
$list-item: #333;
$button: #9c88ff;
$background: #f7f7f7;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

// &.plus {
//   color: #2ecc71;
// }

// &.minus {
//   color: #c0392b;
// }

// li {
//   color: #333;
// }

// button {
//   background: #9c88ff;
// }

// body {
//   background: #f7f7f7;
// }
